// body {
//   display: flex;
//   flex-direction: column;
//   height: 100vh;
//   background-image: url('../../../public/images/1618546481_15-funart_pro-p-oboi-fon-peizazh-art-15.jpg');
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// main {
//   flex-grow: 1;
//   height: 100vh;
// }

.footer {
  width: 100%;
  background-color: #1e88e5;
}

.logo {
  width: 5%;
  height: 5%;
}

.header {
  gap: 10rem;
}
